.rich-page {
  margin: auto !important;
  width: auto;
}

html, body
{
	padding: 0;
	margin: 0;
}
html
{
	height: 100%;
}

body {
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	min-height: 100%;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: #333;
	text-decoration: underline;
}
a.button,
span.button,
select,
input[type="text"]
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-radius: 5px;
	text-transform: none;
	text-indent: 0;
	font-weight: bold;
	vertical-align: middle;
	line-height: 20px;
	/*display: block;*/
	height: 40px;
	/*width: 100%;*/
	padding: 10px;
}
a.button,
span.button
{
	background: #4BD963;
	color: #fff !important;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}
select,
input[type="text"]
{
	background: #fff;
	border: 1px solid #ccc;
}
.mm-label.button
{
	text-indent: 0 !important;
	padding: 20px 20px 40px 20px !important;
}

pre
{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
nav:not(.mm-menu)
{
	display: none;
}

.header,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #777;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.mm-fixed-top
{
	position: fixed;
	top: 0;
	left: 0;
}
.header a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
.header a.contacts
{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==);
}
.header a.right
{
	left: auto;
	right: 10px;
}
.content
{
	padding: 20px 50px 50px 50px;
}
.header.mm-fixed-top + .content
{
	background-position: 25px 55px;
}

html.mm-opened.mm-zoom-menu body
{
	 background: #333;
}
html.mm-opened.mm-zoom-menu.mm-light body
{
	background: #f3f3f3;
}
html.mm-opened.mm-zoom-menu.mm-black body
{
	background: #000;
}
html.mm-opened.mm-zoom-menu.mm-white body
{
	background: #fff;
}
html.mm-opened.mm-zoom-menu .mm-page
{
	background-color: #fff;
}

.mm-menu li .fa
{
	margin: 0 20px 0 5px;
	font-size: 16px;
	width: 12px;
}
body.no-iconbar .mm-menu li .fa
{
	display: none !important;
}
body.no-buttonbars .mm-menu li.buttonbar-item
{
	display: none !important;
}
body.no-labels .mm-menu .mm-label,
body.no-labels .mm-menu .mm-collapsed,
.Collapsed
{
	display: none !important;
}
body.no-toggles .mm-menu li .mm-toggle
{
	display: none !important;
}

/* == BUTTON === */
/* button  ---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* green */
.green {
	color: #1D6405;
	border: solid 1px #333;
	background: #8aff00;
	background: -webkit-gradient(linear, left top, left bottom, from(#d7f7b1), to(#8aff00));
	background: -moz-linear-gradient(top,  #d7f7b1,  #8aff00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7f7b1', endColorstr='#8aff00');
}
.green:hover {
	background: #8aff00;
	background: -webkit-gradient(linear, left top, left bottom, from(#affa56), to(#8aff00));
	background: -moz-linear-gradient(top,  #affa56,  #8aff00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#affa56', endColorstr='#8aff00');
}
.green:active {
	color: #1D6405;
	background: -webkit-gradient(linear, left top, left bottom, from(#8aff00), to(#d7f7b1));
	background: -moz-linear-gradient(top,  #8aff00,  #d7f7b1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8aff00', endColorstr='#d7f7b1');
}

/* red */
.red {
	color: #FFF;
	border: solid 1px #333;
	background: #ff0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#fe9a9a), to(#ff0000));
	background: -moz-linear-gradient(top,  #fe9a9a,  #ff0000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9a9a', endColorstr='#ff0000');
}
.red:hover {
	background: #ff0000;
	background: -webkit-gradient(linear, left top, left bottom, from(#f86666), to(#ff0000));
	background: -moz-linear-gradient(top,  #f86666,  #ff0000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f86666', endColorstr='#ff0000');
}
.red:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#fa5858));
	background: -moz-linear-gradient(top,  #ff0000,  #fa5858);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#fa5858');
}

/* blue */
.blue {
	color: #F6F7F9;
	border: solid 1px #333;
	background: #007eff;
	background: -webkit-gradient(linear, left top, left bottom, from(#7fbeff), to(#007eff));
	background: -moz-linear-gradient(top,  #7fbeff,  #007eff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fbeff', endColorstr='#007eff');
}
.blue:hover {
	background: #007eff;
	background: -webkit-gradient(linear, left top, left bottom, from(#54a7fc), to(#007eff));
	background: -moz-linear-gradient(top,  #54a7fc,  #007eff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#54a7fc', endColorstr='#007eff');
}
.blue:active {
	color: #F6F7F9;
	background: -webkit-gradient(linear, left top, left bottom, from(#007eff), to(#7fbeff));
	background: -moz-linear-gradient(top,  #007eff,  #7fbeff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#007eff', endColorstr='#7fbeff');
}
.cols_top {
	vertical-align: top;
}
.cols_top_center {
	vertical-align: top;
	text-align: center;
}

