<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>oss</display-name>
  <context-param>
    <param-name>org.richfaces.SKIN</param-name>
    <param-value>deepMarine</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>server</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.expressionFactory</param-name>
    <param-value>org.jboss.el.ExpressionFactoryImpl</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.LoadScriptStrategy</param-name>
    <param-value>DEFAULT</param-value>
  </context-param>
  <filter>
    <display-name>RichFaces Filter</display-name>
    <filter-name>richfaces</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
    <init-param>
      <param-name>createTempFiles</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>maxRequestSize</param-name>
      <param-value>5000000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>richfaces</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Seam Filter</filter-name>
    <filter-class>org.jboss.seam.servlet.SeamFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Seam Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.jboss.seam.servlet.SeamListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ServletAttachFoceDownload</servlet-name>
    <servlet-class>com.doh.oss.web.servlet.ServletAttachFoceDownload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportTestConcreteServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.standard.report.ReportTestConcreteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPcWire95Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPcWire95Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportReceiveServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.oss.report.ReportReceiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPcWire420Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPcWire420Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthColdDrawn747Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthColdDrawn747Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthColdDrawn943Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthColdDrawn943Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthHotCold1227CServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthHotCold1227CServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthHotCold1227LServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthHotCold1227LServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthHotCold1227HServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthHotCold1227HServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthHotCold1228CServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthHotCold1228CServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthSieve737Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthSieve737Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportReceiverFromServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.oss.report.ReportReceiverFromServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ACVReportServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.geo.report.servlet.ACVReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AIVReportServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.geo.report.servlet.AIVReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IRSReportServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.geo.report.servlet.IRSReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TFVReportServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.geo.report.servlet.TFVReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PLSReportServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.geo.report.servlet.PLSReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthWireCarbon194Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthWireCarbon194Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthWireRope514Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthWireRope514Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthConcreteBlock827Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthConcreteBlock827Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthConcreteTile378Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthConcreteTile378Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthstrFlatSquare55Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthstrFlatSquare55Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe107Sci2Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe107Sci2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthConcreteCement826Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthConcreteCement826Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe276SciServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe276SciServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe276_1Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe276_1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe107_1Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe107_1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe107Sci1Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe107Sci1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe107_2_32Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe107_2_32Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe107_2_50Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe107_2_50Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthPipe107_2_BoxServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthPipe107_2_BoxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthCalibrationServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthCalibrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength4_04_1041Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength4_04_1041Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength4_04_D695Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength4_04_D695Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthSteel_514Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthSteel_514Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength4_04_331Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength4_04_331Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength4_04_248Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength4_04_248Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength4_04_71Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength4_04_71Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength4_04_2316Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength4_04_2316Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength_JIS_G_3444Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength_JIS_G_3444Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength_JIS_G_3459Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength_JIS_G_3459Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrength1479Servlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrength1479Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SummarymaterialServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.oss.report.SummarymaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAttachFoceDownload</servlet-name>
    <url-pattern>/attach_file/downloadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttachResultDownloadServlet</servlet-name>
    <servlet-class>com.doh.oss.web.servlet.AttachResultDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttachResultDownloadServlet</servlet-name>
    <url-pattern>/attach_result_servlet/downloadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.doh.oss.web.sample.ReportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportProvingRingServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.standard.report.ReportProvingRingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportStrengthServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.strength.report.ReportStrengthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.html</url-pattern>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <servlet-class>org.jboss.seam.servlet.SeamResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seam Resource Servlet</servlet-name>
    <url-pattern>/seam/resource/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportProvingRingServlet</servlet-name>
    <url-pattern>/part_standard/proving_ring/ReportProvingRingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthServlet</servlet-name>
    <url-pattern>/part_strength/strength/round_def/ReportStrengthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportTestConcreteServlet</servlet-name>
    <url-pattern>/part_standard/testconcrete/ReportTestConcreteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPcWire95Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pc_wire/ReportStrengthPcWire95Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportReceiveServlet</servlet-name>
    <url-pattern>/part_oss/account/ReportReceiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPcWire420Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pc_wire/ReportStrengthPcWire420Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthColdDrawn747Servlet</servlet-name>
    <url-pattern>/part_strength/strength/cold_drawn/ReportStrengthColdDrawn747Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthColdDrawn943Servlet</servlet-name>
    <url-pattern>/part_strength/strength/cold_drawn/ReportStrengthColdDrawn943Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthHotCold1227CServlet</servlet-name>
    <url-pattern>/part_strength/strength/hot_cold/ReportStrengthHotCold1227CServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthHotCold1227LServlet</servlet-name>
    <url-pattern>/part_strength/strength/hot_cold/ReportStrengthHotCold1227LServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthHotCold1227HServlet</servlet-name>
    <url-pattern>/part_strength/strength/hot_cold/ReportStrengthHotCold1227HServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthHotCold1228CServlet</servlet-name>
    <url-pattern>/part_strength/strength/hot_cold/ReportStrengthHotCold1228CServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthSieve737Servlet</servlet-name>
    <url-pattern>/part_strength/strength/sieve/ReportStrengthSieve737Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReportReceiverFromIIServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.oss.report.ReportReceiverFromIIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportReceiverFromIIServlet</servlet-name>
    <url-pattern>/part_oss/receiver/ReportReceiverFromIIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportReceiverFromServlet</servlet-name>
    <url-pattern>/part_oss/receiver/ReportReceiverFromServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ACVReportServlet</servlet-name>
    <url-pattern>/ACVReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AIVReportServlet</servlet-name>
    <url-pattern>/AIVReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IRSReportServlet</servlet-name>
    <url-pattern>/IRSReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TFVReportServlet</servlet-name>
    <url-pattern>/TFVReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PLSReportServlet</servlet-name>
    <url-pattern>/PLSReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthWireCarbon194Servlet</servlet-name>
    <url-pattern>/part_strength/strength/wire_carbon/ReportStrengthWireCarbon194Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthWireRope514Servlet</servlet-name>
    <url-pattern>/part_strength/strength/wire_rope/ReportStrengthWireRope514Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthConcreteBlock827Servlet</servlet-name>
    <url-pattern>/part_strength/concrete/con_frm/ReportStrengthConcreteBlock827Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthConcreteTile378Servlet</servlet-name>
    <url-pattern>/part_strength/concrete/con_frm/ReportStrengthConcreteTile378Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthstrFlatSquare55Servlet</servlet-name>
    <url-pattern>/part_strength/strength/fsq/ReportStrengthstrFlatSquare55Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe107Sci2Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe107Sci2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthConcreteCement826Servlet</servlet-name>
    <url-pattern>/part_strength/concrete/con_frm/ReportStrengthConcreteCement826Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe276SciServlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe276SciServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe276_1Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe276_1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe107_1Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe107_1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe107Sci1Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe107Sci1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe107_2_32Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe107_2_32Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe107_2_50Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe107_2_50Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthPipe107_2_BoxServlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrengthPipe107_2_BoxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthCalibrationServlet</servlet-name>
    <url-pattern>/part_strength/calibration/calib_frm/ReportStrengthCalibrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength4_04_1041Servlet</servlet-name>
    <url-pattern>/part_strength/concrete/con_frm/ReportStrength4_04_1041Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength4_04_D695Servlet</servlet-name>
    <url-pattern>/part_strength/concrete/con_frm/ReportStrength4_04_D695Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrengthSteel_514Servlet</servlet-name>
    <url-pattern>/part_strength/strength/str_steel/ReportStrengthSteel_514Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength4_04_331Servlet</servlet-name>
    <url-pattern>/part_strength/sci/ReportStrength4_04_331Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength4_04_248Servlet</servlet-name>
    <url-pattern>/part_strength/sci/ReportStrength4_04_248Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength4_04_71Servlet</servlet-name>
    <url-pattern>/part_strength/sci/ReportStrength4_04_71Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength4_04_2316Servlet</servlet-name>
    <url-pattern>/part_strength/sci/ReportStrength4_04_2316Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength_JIS_G_3444Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrength_JIS_G_3444Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength_JIS_G_3459Servlet</servlet-name>
    <url-pattern>/part_strength/strength/pipe/ReportStrength_JIS_G_3459Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportStrength1479Servlet</servlet-name>
    <url-pattern>/part_strength/strength/fsq/ReportStrength1479Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OssCostSummarryManageServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.oss.report.OssCostSummarryManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OssCostSummarryManageServlet</servlet-name>
    <url-pattern>/part_oss/summary/OssCostSummarryManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SummarymaterialServlet</servlet-name>
    <url-pattern>/part_oss/summary/SummarymaterialServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>90</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReportTestServlet</display-name>
    <servlet-name>ReportTestServlet</servlet-name>
    <servlet-class>com.doh.oss.reportdatasource.ReportTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportTestServlet</servlet-name>
    <url-pattern>/ReportTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSummaryServlet</display-name>
    <servlet-name>AccountSummaryServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.oss.report.AccountSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSummaryServlet</servlet-name>
    <url-pattern>/part_oss/account/AccountSummaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PSVReportServlet</display-name>
    <servlet-name>PSVReportServlet</servlet-name>
    <servlet-class>com.doh.oss.web.part.geo.report.servlet.PSVReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSVReportServlet</servlet-name>
    <url-pattern>/PSVReportServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>postgreSQL oss</description>
    <res-ref-name>jdbc/oss</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>